form(method="post")
	table
		tr
			td First name:
			td 
				input(type="text", name="fn")
		tr	
			td Last Name:
			td 
				input(type="text", name="ln")
		tr	
			td Email:
			td 
				input(type="text", name="email")
		tr	
			td Mobile
			td 
				input(type="text", name="mobile")
		tr	
			td URL:
			td 
				input(type="text", name="url")
		tr	
			td(colspan="2") 
				input(type="submit")
	