* {
	color: #cccccc;
	font-family: "Droid Sans", sans-serif;
	font-size: 14px;
	border: 0px;
}
html {
	background-color: #292929;
}
body {
	background-color: #333333;
	max-width: 600px;
	margin: 20px;
	padding: 10px 20px 50px 20px;
}
a {
	color: #dd7700;
}
a:visited, a:active, a:hover {
	color: #cc6600;
}
h1 {
	color: #ffffff;
	padding-left: 10px;
	font-size: 60px;
	font-weight: normal;
}
ul {
	list-style-type: none;
	padding: 0px;
	padding-top: 20px;
	margin: 0px;
}
li {
	float: left;
	padding: 5px;
}
footer {
	font-family: sans-serif;
	font-size: 10px;
	text-align: center;
	opacity: .3;
	filter: alpha(opacity=30);
}
.hello {
	position: fixed;
	bottom: -50px;
	right: 20px;
	font-family: 'VT323', serif;
	font-size: 60px;
	text-align: right;
	color: #333333;
	z-index: -1;
}
input {
	color: #292929;
}